@use '../../../styles.scss' as *;

.movie-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: $border-radius-md;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.5s ease;
  height: 100%;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

@mixin hover-effect($shadow-color, $gradient-start, $gradient-end) {
  &:hover {
    box-shadow: 0 4px 8px $shadow-color;
    background: linear-gradient(to bottom, $gradient-start, $gradient-end);
  }
}

.popular {
  @include hover-effect($color-popular-shadow, $color-popular-gradient-start, $color-popular-gradient-end);
}

.top_rated {
  @include hover-effect($color-top-rated-shadow, $color-top-rated-gradient-start, $color-top-rated-gradient-end);
}

.default {
  @include hover-effect($color-default-shadow, $color-default-gradient-start, $color-default-gradient-end);
}

.movie-poster {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.movie-rating {
  display: flex;
  align-items: center;
  position: absolute;
  top: 16px;
  left: 0px;
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: $primary-accent-color;
  border-radius: 0px 4px 4px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

  mat-icon {
    font-size: 16px;
    height: auto;
  }
}

.movie-info {
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1
}

.movie-title,
.movie-plot {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-title {
  font-size: 16px;
  font-weight: bold;
  color: $text-color-light;
	line-clamp: 2;
  -webkit-line-clamp: 2;
  line-height: 1.2;
}

.movie-plot {
  font-size: 12px;
  color: $text-color-muted;
	line-clamp: 3;
  -webkit-line-clamp: 3;
  line-height: 1.5;
  margin: 10px 0;
}
