<header>
  <mat-toolbar>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>Menu
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/']">Home</button>
      <button mat-menu-item [matMenuTriggerFor]="categories">Categories</button>
      <mat-menu #categories="matMenu">
        <button
          mat-menu-item
          *ngFor="let genre of genres"
          [routerLink]="['/genre', genre.id]"
        >
          {{ genre.name }}
        </button>
      </mat-menu>
      <button mat-menu-item>Celebs</button>
    </mat-menu>
    <mat-form-field subscriptSizing="dynamic" class="small">
      <input matInput placeholder="Search your movie..." />
    </mat-form-field>
    <button mat-flat-button>Search<mat-icon>search</mat-icon></button>
  </mat-toolbar>
</header>
