<div class="movie-details" *ngIf="movieDetails">
  <div
    class="backdrop"
    [style.backgroundImage]="'url(' + movieDetails.backdropSrc + ')'"
  ></div>

  <div class="details">
    <div class="poster">
      <img [src]="movieDetails.posterSrc" [alt]="movieDetails.title" />
    </div>

    <div class="info">
      <div class="header">
        <h1>{{ movieDetails.title }}</h1>
        <p class="year">{{ movieDetails.year }} - {{ movieDetails.runtime }}</p>
        <p class="genres">
          <mat-chip
            class="genre-chip"
            *ngFor="let genre of movieDetails.genres"
            [routerLink]="['/genre', genre.id]"
            >{{ genre.name }}</mat-chip
          >
        </p>
      </div>
      <p>{{ movieDetails.plot }}</p>
      <p class="rating">
        <strong>Rating:</strong>
        {{ movieDetails.rating }} / 10
        <mat-icon>star</mat-icon>
      </p>

      <table>
        <tr>
          <td class="budget">
            <p>Budget: {{ movieDetails.budget | currency }}</p>
          </td>
          <td class="revenue">
            <p>Revenue: {{ movieDetails.revenue | currency }}</p>
          </td>
        </tr>
      </table>

      <p>
        <strong>Production Companies:</strong>
        {{ movieDetails.productionCompanies }}
      </p>
      <p>
        <strong>Useful Links: </strong>
        <a [href]="movieDetails.homepage" target="_blank">Official site</a>
        ,
        <a
          [href]="'https://www.imdb.com/title/' + movieDetails.imdbId"
          target="_blank"
          >IMBd data</a
        >
      </p>
    </div>
  </div>
</div>
