.movie-details {
  display: flex;
  position: relative;
  padding: 2rem;
  background: radial-gradient(circle, #00ffff3b, #002222);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.movie-details .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 400px;
  background-size: cover;
  background-position: center;
  z-index: -1;
  border-radius: 10px;
}

.movie-details .details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.movie-details .details .poster {
  flex: 0 0 350px;
}

.movie-details .details .poster img {
  width: 100%;
  border-radius: 8px;
}

.movie-details .details .info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  color: #fff;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0px;
    line-height: 1.2;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%; /* Prevenir desbordes */
  }

  .year {
    margin-top: 0px !important;
    color: #ccc;
    margin-bottom: 1.5rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .genres {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

	.rating {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-size: 1.2rem;

			mat-icon{
				color: #f1c40f;
			}
	}

  p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0.5rem 0;
    word-wrap: break-word;
    overflow-wrap: break-word;

    a {
      color: #00bcd4;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  table {
    width: 100%;
    background-color: #00647111;
    color: #333;
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-collapse: collapse;

    td {
      padding: 1rem;
      text-align: left;
      font-size: 1rem;
      vertical-align: middle;
    }

    .budget,
    .revenue {
      text-align: center;
      font-weight: bold;
    }

    .budget {
      color: orange;
    }

    .revenue {
      color: #4caf50;
    }
  }
}

/* Ajustes para móviles */
@media (max-width: 768px) {
  .movie-details {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .movie-details .details {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .movie-details .details .poster {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
  }

  .movie-details .details .info {
    width: 100%;
    text-align: center;

    h1 {
      font-size: 2rem;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    p {
      font-size: 0.9rem;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    table {
      margin: 1rem auto;
      td {
        font-size: 0.9rem;
      }
    }
  }
}
