header mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
	border-bottom: 1px solid #333;

	mat-form-field {
		width: 100%;
	}
}

div.mat-mdc-form-field-subscript-wrapper{
	display: none!important;
}

