<header>
  <mat-toolbar>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>Menu
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/']">Home</button>
      <button mat-menu-item [matMenuTriggerFor]="categories">Categories</button>
      <mat-menu #categories="matMenu">
        <button
          mat-menu-item
          *ngFor="let genre of genres"
          [routerLink]="['/genre', genre.id]"
        >
          {{ genre.name }}
        </button>
      </mat-menu>
    </mat-menu>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Home</button>
      <button mat-menu-item>Movies</button>
    </mat-menu>
    <form (submit)="onSearch($event)">
      <mat-form-field subscriptSizing="dynamic" class="small">
        <input
          matInput
          [(ngModel)]="searchTerm"
          name="search"
          placeholder="Search your movie..."
        />
      </mat-form-field>
      <button mat-icon-button class="search-button" type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </mat-toolbar>
</header>
