header mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #333;
  padding: 0 1rem;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

mat-form-field.small {
	flex: 1;
  width: auto;
  margin-right: 0.5rem;
}

mat-form-field .mat-input-element {
  padding: 0.5rem;
  font-size: 14px;
}

div.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.search-button {
  background: transparent;
  padding: 0;
}

mat-icon.search {
  font-size: 18px;
}
