@use '../../../styles.scss' as *;

.movie-slider-container {
  margin: 0 auto;
  padding: 2rem;
  border-radius: $border-radius-md;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: radial-gradient(circle, $color-default-gradient-start 54%, $color-default-gradient-end 28%);
}

.movie-slider-title {
  font-size: 2rem;
  font-weight: bold;
  color: $text-color-light;
  margin-bottom: 1.25rem;
  text-align: left;
  margin-left: 0.5rem;
}

.movie-slider {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 0.625rem;
}

.movie-slider::-webkit-scrollbar {
  height: 0.5rem;
}

.movie-slider::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-color;
  border-radius: $border-radius-lg;
}

.movie-slider::-webkit-scrollbar-track {
  background: $scrollbar-track-color;
}

.movie-slider-item {
  flex: 0 0 200px;
  position: relative;

  @media (max-width: 768px) {
    flex: 0 0 150px;
  }
}

.movie-card {
  position: relative;
  border-radius: $border-radius-md;
  overflow: hidden;
  cursor: pointer;

  &:hover .movie-card-image {
    transform: scale(1.05);
  }
}

.movie-card-image {
  width: 100%;
  border-radius: $border-radius-md;
  transition: transform 0.3s ease-in-out;
}

.movie-card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
  text-align: center;

  .movie-title {
    font-size: 0.875rem;
    font-weight: bold;
    color: $text-color-light;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @media (max-width: 768px) {
      font-size: 0.75rem;
    }
  }
}
