.movie-slider-container {
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
	background: radial-gradient(circle, #3a3a3a54, #1e1e1e2c);

}

.movie-slider-title {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 0.5rem;
}

.movie-slider {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.movie-slider::-webkit-scrollbar {
  height: 8px;
}

.movie-slider::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.movie-slider::-webkit-scrollbar-track {
  background: #222;
}

/* Cada película en el slider */
.movie-slider-item {
  flex: 0 0 200px; /* Mantén cada tarjeta en un tamaño fijo */
  position: relative;
}

/* Estilo para las tarjetas */
.movie-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
	cursor: pointer;
}

.movie-card-image {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.movie-card:hover .movie-card-image {
  transform: scale(1.05);
}

/* Fondo de contraste para el título */
.movie-card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
  padding: 0.5rem;
  text-align: center;
}

.movie-title {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Adaptación a pantallas pequeñas */
@media (max-width: 768px) {
  .movie-slider-item {
    flex: 0 0 150px; /* Ajusta el tamaño para pantallas pequeñas */
  }

  .movie-title {
    font-size: 12px;
  }
}
