@use '../../../styles.scss' as *;

.movie-list-container {
  margin: 0 auto;
  padding: 2rem;
  border-radius: $border-radius-md;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;

  &.popular {
    background: radial-gradient(circle, $color-popular-gradient-start 25%, $color-popular-gradient-end 100%);
  }

  &.top_rated {
    background: radial-gradient(circle, $color-top-rated-gradient-start 25%, $color-top-rated-gradient-end 100%);
  }

  &.default {
    background: radial-gradient(circle, $color-default-gradient-start 25%, $color-default-gradient-end 100%);
  }
}

.movie-list-title {
  font-size: 2rem;
  font-weight: bold;
  color: $text-color-light;
  margin-bottom: 1.25rem;
  text-align: left;
  margin-left: 0.5rem;
}

.movie-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem 2rem;
  padding: 1rem 0;
  list-style: none;
}
